# Does a certain area (location) have higher/lower adoption rates?

In [20]:
import pandas as pd
import numpy as np
import requests
import petpy
import pprint

from matplotlib import pyplot as plt
from config import api_key as api_key
from config import api_secret as api_secret

## Retrive data from APIs

**API/Resources:**
- [Adopt a Pet API](https://www.adoptapet.com/public/apis/pet_list.html)
- [Pet Finder API](https://www.petfinder.com/developers/)

In [43]:
pf = petpy.Petfinder(key=api_key, secret=api_secret)

#Data Frame of only NC organizations
nc_organizations_df = pf.organizations(state = 'NC', return_df=True)

#CLean DataFrame
to_drop = ['email', 'phone', 'url', 'photos', 'distance', 'organization_id','address.address2','address.country']
nc_organizations_df.drop(to_drop, inplace = True, axis=1)


#Rename Columns
new_columns = {
    'name': 'Name',
    'website': 'Website',
    'mission_statement':'Misson Statement',
    'address.address1': 'Address',
    'address.city':'City',
    'address.state':'State',
    'address.postcode':'Zip',
    'hours.friday':'Friday',
    'hours.saturday':'Saturday',
    'hours.sunday':'Sunday',
    'adoption.policy':'Adoption Policy',
    'adoption.url':'Adoption URL',
    'social_media.facebook':'Facebook',
    'social_media.twitter':'Twitter',
    'social_media.youtube':'YouTube',
    'social_media.instagram':'Instagram',
    'social_media.pinterest':'Pinterest'
}
nc_organizations_df.rename(columns=new_columns, inplace=True)
nc_organizations_df = nc_organizations_df.set_index('id')

#Data Frame of Organizations in NC
nc_organizations_df.head()

,Name,Website,Misson Statement,Address,City,State,Zip,hours.monday,hours.tuesday,hours.wednesday,...,Friday,Saturday,Sunday,Adoption Policy,Adoption URL,Facebook,Twitter,YouTube,Instagram,Pinterest
id,,,,,,,,,,,,,,,,,,,,,
NC1113,Angela's Ark,http://www.angelasark.org,Angela&#039;s Ark is a 501c3 animal rescue on ...,None,Charlotte,NC,28210,None,None,None,...,None,None,None,Thank you for your interest in our adoptable p...,http://www.angelasark.org,None,None,None,None,None
NC1037,Yahweh's Heart,None,Yahweh&#039;s Heart is perfect example of how ...,3442 Harvey Rd,Washington,NC,27889,8:30-3:30,8:30-3:30,8:30-3:30,...,8:30-3:30,By appointment only,By appointment only,None,None,https://www.facebook.com/Yahwehsheart/,None,None,None,None
NC1102,Snow Camp Sanctuary,https://snowcampfurever.com,"Our mission is to give a home to ferals, injur...",None,Snow Camp,NC,27349,None,None,None,...,None,None,None,None,None,https://www.facebook.com/SnowCamp2/,None,None,None,None
NC1070,Adoptions Ever After,None,None,None,Pineville,NC,28134,None,None,None,...,None,None,None,None,None,None,None,None,None,None
NC1079,Freedom Unchained inc.,None,None,None,Turkey,NC,28393,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [50]:
#Daily Schedule of organizations
'''towns_df = pd.DataFrame(university_towns,
...                         columns=['State', 'RegionName'])'''
schedule_df = pd.DataFrame(nc_organizations_df, columns = ['Friday', 'Saturday', 'Sunday'])
schedule_df

           Friday             Saturday               Sunday
id
NC1113       None                 None                 None
NC1037  8:30-3:30  By appointment only  By appointment only
NC1102       None                 None                 None
NC1070       None                 None                 None
NC1079       None                 None                 None
NC1051       None                 None                 None
NC1093       None                 None                 None
NC1134       None                 None                 None
NC1138       None                 None                 None
NC1049       None                 None                 None
NC1112       None                 None                 None
NC1041       None                 None                 None
NC1094       11-6                 11-6               Closed
NC1145       None                 None                 None
NC1052       None                 None                 None
NC1154       None                 None                 None
NC1130       None                 None                 None
NC1151       None                 None                 None
NC1143       None                 None                 None
NC1043       None                 None                 None